* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Weather {
    border: 1px solid red;
}

.card{
    border: 1px solid #ccc;
}
.city {


}

.dataWeather{
    display: flex;

}
.row {
    
}