*{
    margin:0px;
    padding: 0px;
    
}

#Banner{
    width: 100%;/* 寬度100％ */
}

#feature{
    display: flex; /*  */
    justify-content: space-around;
    margin: 50px auto;
}

.Video ,.fee ,.share {
    width: 300px;
}

.title{
    color: red;
    text-align: center;
}

/* 標語 */

#study{
    display: flex;
    background-color: red;
    color:white;
    justify-content: center;
    font-size: 32px;
    padding: 10px 0;
    margin: 10px 0;
}

/* 推薦課程 */
h1{
    color: green;
    text-align: center;
    padding: 10px 0 0 0;
}

#card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin:10px auto;
}
.box2{
    width: 300px;
    border: 1px solid lightgray;
    /* 陰影： 水平 垂直 擴展度 色彩 */
    box-shadow: 0px 0px 2px #000;
    padding: 10px;
}

.foTo{
    width: 100%;
    margin-bottom: 10px;
}


.p-blue{
    color: rgb(82, 82, 121);
}
.money{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1 {
    text-decoration: line-through;


}
.p2 {
    color: red;
    font-size: 24px;
    text-align: center;

}

button{
    width: 100%;
    color: white;
    background-color: red;
    font-size: 24px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
/* 頁尾 */
footer{
    background-color: black;
    text-align: center;
    font-size: 36px;
    color: white;
    background-size: contain;
}
